<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventsServiceURI" value="http://teudu.herokuapp.com/events.xml"/>
    <add key="EventsServicePollInterval" value="3600"/> <!-- In seconds, minimum is 3600 (1 minute)-->
    <add key="CachedImageDirectory" value="image_stash"/>
    <add key="UserDistanceRequired" value="1.3"/>
    <add key="HeightOffGround" value="0"/>
    <add key="MaxEventWidth" value="230"/>
    <add key="MaxEventHeight" value="340"/>
    <add key="TileSlidesEnabled" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="BindableListener"
        type="Teudu.InfoDisplay.BindableTraceListener,Teudu.InfoDisplay" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>