<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RailsServiceURI" value="http://"/>

  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="BindableListener"
        type="Teudu.InfoDisplay.BindableTraceListener,Teudu.InfoDisplay" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>